body {
    background: linear-gradient(to bottom left, rgb(73, 209, 61), rgb(167, 250, 225));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



img {
    width: 400px;
    height: auto;
    max-width: 100%;
    font-size: 225px;
    text-align: center;
    animation: myAnim 2s ease 0s 1 normal forwards;
    margin: 50px;
}

@keyframes myAnim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}


h1 {
    color: rgb(249, 255, 252);
    margin-top: 15px;
    font-size: 500%;
}

h2 {
    color: rgb(240, 255, 249);
    margin-top: 15px;
    font-size: 175%;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

